<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  {% if data %}
  <h6 class="text-primary">{{data['nama']}}</h6>
  <h6 class="text-primary">{{data['gula_darah']}}</h6>
  <h4 class="text-primary">{{data['status']}}</h4>
  {% endif %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="card shadow border-0 mt-5">
          <div class="card-body">
            <ul class="nav nav-tabs mb-3">
              <li class="nav-item">
                <a class="nav-link active" href="#">Submit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/messages">Pesan <span class="badge badge-danger">{{n_pesan}}</span> </a>
              </li>
            </ul>
            <form action="" method="POST">
              <div class="form-group">
                <label for="nama">Nama</label>
                <input type="nama" class="form-control" name="nama">
              </div>
              <div class="form-group">
                <label for="gula_darah">Kadar gula darah</label>
                <input type="number" class="form-control" name="gula_darah">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>